h1{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 70px;
    text-shadow: 3px 3px 3px white;
    display: none;
}
#title{
    position: relative;
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    font-size: 20px;
}
#header{
    background-color:rgb(149, 218, 212);
}
.form{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    float:center;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(149, 218, 212); 
    height: 30px;
    border-radius: 20%;
    box-shadow: 2px 2px 2px  white;
}
body{
    background-color: lavender;
    text-align: center;
}
footer{
    text-align: center;
    margin-bottom: 0px;
    background-color: rgb(149, 218, 212);
}
#output{
    margin: 50px;
    text-align: center;
}
#reset{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(149, 218, 212); 
    height: 30px;
    border-radius: 20%;
    box-shadow: 2px 2px 2px  white;
    display: none;
}
img{
    position: absolute;
    margin-left:20%; 
    height: 400px;
}